

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    padding: 10px 20px;
  }
  
  #readWholePage {
    display: flex;
    justify-content: flex-end; 
  }
  
  #speakerBox {
    display: inline-flex; 
    align-items: center; 
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer; 
    font-weight: bold;
  }
  
  #speakerBox:hover {
    background-color: darkblue; 
  }
  
  #readWholePageText {
    margin-right: 10px;
  }
  
  #speakerIcon {
    font-size: 18px;
    transition: transform 0.3s ease;
  }
  
  #speakerIcon:hover {
    transform: scale(1.2); 
  }

  #menu {
    display: flex;
  }
  
  .menuItem {
    margin: 0 10px;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .menuItem:not(:last-child)::after {
    content: "|";
    margin-left: 10px;
    margin-right: 10px;
  }

#fontControls {
    margin-right: 3px;
  }

#fontControls input[type="button"] {
    font-size: 24px;
    padding: 5px 10px; 
    margin:0;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

#header input[type="button"]:hover {
    background-color: #ff8c66;
    color: white;
    cursor:pointer;
}

#factButton3 {
  margin-left: 10px;
  font-size: 20px;
}
#ThirdSentenceContainer {
    margin-left: 20px; 
    font-size: 38px;
    font-weight: bold;
}


.big-bold {
    font-size: 24px;
    font-weight: bold;
  }

#contentWrapper {
    margin-left: 20px;
    margin-right: 20px;
    font-size:20px
}

#contentContainer {
    display: flex; 
    align-items: flex-start; 
  }

#contentContainer p {
    margin-left: 20px; 
  }

#SnellenChart {
    width: 50%; 
  }

  #audioButton, #audioButton2 {
    margin-left: 10px; 
    padding: 10px 20px; 
    font-weight: bold; 
    font-size: 24px;
    background-color: #ff5733;
    color: white;
    border: none; 
    border-radius: 10px; 
    cursor: pointer;
  }

  #audioButton:hover {
    background-color: #ff8c66; 
  }

  #backToTopButton {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    background-color: #007bff; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    text-decoration: none; 
  }
  
  #backToTopButton:hover {
    background-color: #0056b3; 
  }